{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}EduConnect{% endblock %}</title>
  {% block extra_css %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/student.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  

  {% block content %}{% endblock %}
  {% block extra_js %}{% endblock %}
</body>
</html>
